{% block htmltitle %}
{% endblock %}
{% extends "base.html" %}
{% block site_meta %}
{{ super() }}
<meta name="keywords"
      content=""/>
<meta http-equiv="Content-Type" content="text/html;charset=gb2312"/>
{% endblock %}
{% block footer %}
<div class="container-fluid" style="background:#2C2C2C;color: #c1c1c1;font-weight: bold;margin-bottom: 2px">
    <div class="row">
        <div class="col-md-12  text-center" style="padding: 40px">
            <a href="https://www.nginx.com/" style="color:#c1c1c1;font-weight: bold" target="_blank">Nginx</a>&nbsp;|
            <a href="https://zabbix.org/" style="color:#c1c1c1;font-weight: bold"
               target="_blank">Zabbix</a>&nbsp;|
            <a href="https://kubernetes.io/" style="color:#c1c1c1;font-weight: bold" target="_blank">Kubernetes</a>&nbsp;|
            <a href="https://www.centos.org/" style="color:#c1c1c1;font-weight: bold" target="_blank">CentOS</a>&nbsp;|
            <a href="https://ubuntu.com/" style="color:#c1c1c1;font-weight: bold" target="_blank">Ubuntu</a>&nbsp;
            <br>
            Copyright © 2020-2021&nbsp; pythoneers.cn. All Rights Reserved.&nbsp;运维云栈 版权所有&nbsp;
            <br>
            <a target="_blank_" href="http://www.miit.gov.cn/" style="color:#c1c1c1;">豫ICP备19037971-2号</a>
            <!--            <a target="_blank">-->
            <!--                <img src="/static/home/images/beian.png" style="padding-bottom:6px">-->
            <!--                <span style="color:#c1c1c1;">豫公网安备 41152802000091号</span>-->
            <!--            </a>-->
            <span id="cnzz_stat_icon_1279280889">
            <a href="https://www.cnzz.com/stat/website.php?web_id=1279280889" target="_blank" title="站长统计">
              <img border="0" hspace="0" vspace="0" src="https://icon.cnzz.com/img/pic.gif">
            </a>
          </span>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<!--    <script async src="{{ base_url }}/js/somelib.js"></script>-->
<script data-ad-client="ca-pub-6937898095875663"
        src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
    //baidu自动收录
    (function () {
        var bp = document.createElement('script');
        var curProtocol = window.location.protocol.split(':')[0];
        if (curProtocol === 'https') {
            bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
        } else {
            bp.src = 'http://push.zhanzhang.baidu.com/push.js';
        }
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(bp, s);
    })();
</script>
<script>
    //360自动收录
    (function () {
        var src = "https://jspassport.ssl.qhimg.com/11.0.1.js?d182b3f28525f2db83acfaaf6e696dba";
        document.write('<script src="' + src + '" id="sozz"><\/script>');
    })();
</script>
{% endblock %}